.TimerPage {
  display: grid;
  grid-template:
    "header" 3rem
    "list" auto
    "footer" 3rem
    / auto;
  height: 100vh;
}

.TimerPage-header {
  grid-area: header;
}

.TimerPage-participantList {
  display: flex;
  grid-area: list;
  flex-direction: column;

  & > * {
    flex-grow: 1;
  }
}

.TimerPage-participantButton {
  align-items: center;
  background-color: white;
  border: solid 1px lightgray;
  box-shadow: 0 0 1rem #0003 inset;
  display: flex;
  font-size: 30px;
  padding: 1rem;
  position: relative;

  &[data-active=true] {
    color: tomato;

    &::after {
      animation: 1s ease-out infinite TimerPage-participantButton-heartBeating;
      background-color: tomato;
      border-radius: 50%;
      content: "";
      display: block;
      height: 1rem;
      left: 1rem;
      position: absolute;
      top: 1rem;
      width: 1rem;
    }
  }
}

@keyframes TimerPage-participantButton-heartBeating {
  0% { transform: scale(1.5); }
  80% { transform: scale(1); }
}

.TimerPage-footer {
  grid-area: footer;
}
